/** @format */

nav * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  background-color: #2c874a;
  position: fixed;
  width: 100%;
  height: 100px;
  transition: all .5s ease-in-out;
}

.logo {
  color: white;
  display: grid;
  grid-template-columns: 160px 1fr;
  padding-left: 10px;
  align-items: center;
  
}

.logo img {
  width: 160px;
  transition: all .7s ease;
}

.logo h2 {
  transition: all .9s ease;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  justify-self: end;
  transition: all .5s ease-in-out;
}

.nav-links li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  width: 130px;
  justify-self: center;
  transition: all .5s ease-in-out;
}

.nav-links li a {
  padding: 5px 10px;
  margin: 0;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: all .5s ease-in-out;
}

.nav-links li a:hover {
  background-color: #3d3d3d;
}

.burger {
  display: none;
  align-self: center;
  justify-self: end;
  padding-right: 30px;
}

.burger div {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 4px;
  transition: all 0.3s ease;
}



#home-section {
  height: 100vh;
  background: url(../images/background-image.jpg) no-repeat 50% 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 2fr 1fr;
  grid-template-areas:
    "header"
    "floating-text"
    "ad-box";
}


.floating-text {
  grid-area: floating-text;
  align-self: center;
  justify-self: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 10px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  border-right: solid 3px rgba(255, 255, 255, 0.75);
  transition: all ease-in-out 0.4s;
}

/* Animation */
.floating-text p {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.ad-box {
  grid-area: ad-box;
  display: grid;
  background-color: #ffffff;
  height: 220px;
  align-self: end;
  justify-self: center;
  width: 480px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "view-more     enquire"
    "ad-box-info   ad-box-info";
}

.ad-box button.view-more {
  grid-area: view-more;
  background-color: #2c874a;
}

.ad-box button.enquire {
  grid-area: enquire;
  background-color: #3d3d3d;
}

.ad-box-info {
  grid-area: ad-box-info;
  padding: 10px;
}

.mobile-find-a-home {
  display: none;
}

.page {
  /* display: grid; */
  /* grid-gap: 100px; */
  width: 100%;
  margin: 0 auto;
}

/*About Us***************************************************************************/

#about-section {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 100px 100px 600px 100px;
  grid-template-areas:
    "about-header	        about-header"
    "about-us		        about-us"
    "statement-articles		about-nyiko"
    "statement-images		about-nyiko";
  padding-top: 100px;
  width: 65%;
  min-width: 1200px;
  margin: 0 auto;
}

#about-section h1 {
  grid-area: about-header;
  height: 50px;
  align-self: end;
}

.about-us {
  grid-area: about-us;
  justify-self: center;
  background-color: #b8e1c6;
  padding: 30px 40px;
  text-align: center;
}

.statement-articles {
  grid-area: statement-articles;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.statement-articles p {
  padding: 0 10px;
}

.statement-articles ol li {
  font-size: 15px;
  padding: 0 10px;
}

.about-nyiko {
  grid-area: about-nyiko;
  display: grid;
  justify-items: center;
  text-align: center;
  background-color: #b8e1c6;
}

.about-nyiko img {
  width: 320px;
  height: 250px;
  align-self: center;
}

.about-nyiko p {
  padding: 0 25px;
}

.about-nyiko h3 {
  align-self: end;
}

.about-nyiko h4 {
  font-size: 12px;
}

.about-nyiko .nyiko-social-media img {
  width: 22px;
  height: 22px;
  padding: 5px;
  transition: all ease-in 0.2s;
}

.about-nyiko .nyiko-social-media img:hover {
  width: 25px;
  height: 25px;
  padding: 0px;
}

.statement-images {
  grid-area: statement-images;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #b8e1c6;
  padding: 0 10px;
  align-items: center;
  justify-items: center;
}

.statement-images img {
  width: 50px;
}

/*Find a home****************************************************************/
#find-a-home {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 50px 600px;
  grid-template-areas:
    "find-a-home-header   find-a-home-header"
    "find-a-home-text     find-a-home-text"
    "house1               house2";
  justify-self: center;
  grid-gap: 10px;
  padding-top: 100px;
  width: 65%;
  margin: 0 auto;
  min-width: 1200px;
}

#find-a-home h1 {
  grid-area: find-a-home-header;
}

#find-a-home > p {
  grid-area: find-a-home-text;
  text-align: center;
}

.house {
  width: 100%;
  display: grid;
  justify-items: center;
}

.house img {
  min-width: 50%;
  max-width: 98%;
}

.house.one {
  grid-area: house1;
}

.house.two {
  grid-area: house2;
  justify-self: end;
}

.house .house-info {
  background-color: #b8e1c6;
  padding: 20px;
  width: 92%;
}

#find-a-home .view-more {
  background-color: #2c874a;
  width: 290px;
}

#find-a-home .enquire {
  background-color: #3d3d3d;
  width: 295px;
}

.house div button {
  width: 100%;
}


/* Contact section ********************************************/

#contact-section {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100px 100px 540px;
  grid-template-areas:
    "contact-header       contact-header"
    "social-media-links   social-media-links"
    "contact-form         more-contact-info";
  padding-top: 100px;
  width: 65%;
  margin: 0 auto;
  min-width: 1200px;
}

#contact-section h1 {
  grid-area: contact-header;
  align-self: center;
}

.social-media-links {
  grid-area: social-media-links;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #b8e1c6;
}

button.whatsapp {
  border: 2px solid #30b944;
  background: url(../images/whatsapp.png) no-repeat 40px 50%;
  padding-left: 30px;
}

.whatsapp a {
  color: #30b944;
  padding: 15px 50px;
}

button.linkedin {
  border: 2px solid #0077b7;
  background: url(../images/linkedin.png) no-repeat 40px 50%;
  padding-left: 30px;
}

.linkedin a {
  color: #0077b7;
  padding: 15px 50px;
}

button.facebook {
  border: 2px solid #3c5a99;
  background: url(../images/facebook.png) no-repeat 30px 50%;
  padding-left: 20px;
}

.facebook a {
  color: #3c5a99;
  padding: 15px 50px;
}

button.twitter {
  border: 2px solid #50abf1;
  background: url(../images/twitter.png) no-repeat 50px 50%;
  padding-left: 30px;
}

.twitter a {
  color: #50abf1;
  padding: 15px 50px;
}

.social-media-links button {
  background-color: white;
  width: 200px;
  text-transform: none;
  font-size: 15px;
}

.contact-form {
  grid-area: contact-form;
}

.more-contact-info {
  grid-area: more-contact-info;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr 2fr 4fr;
  align-items: center;
  background-color: #b8e1c6;
  text-transform: uppercase;
  padding: 30px;
  line-height: 12px;
}

.more-contact-info > p {
  margin-bottom: 10px;
  line-height: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

.more-contact-info p:not(.more-contact-info > p) {
  font-size: 14px;
}

.more-contact-info h4 {
  font-size: 14px;
}

form {
  display: grid;
  grid-template-columns: 422px;
  grid-template-rows: 40px 40px 40px 120px 40px;
  grid-template-areas:
    "contact-sub-header"
    "name"
    "email"
    "message"
    "submit";
  grid-gap: 35px;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  justify-items: center;
  align-self: center;
}

.contact-sub-header {
  grid-area: contact-sub-header;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.name {
  grid-area: name;
  width: 400px;
  height: 45px;
  padding-left: 15px;
  font-size: 11pt;
  border: 2px solid #2c874a;
  border-radius: 2px;
  background-color: rgba(225, 225, 225, 0);
  text-transform: uppercase;
  font-weight: bold;
}

.email {
  grid-area: email;
  width: 400px;
  height: 45px;
  padding-left: 15px;
  font-size: 11pt;
  border: 2px solid #2c874a;
  border-radius: 2px;
  background-color: rgba(225, 225, 225, 0);
  text-transform: uppercase;
  font-weight: bold;
}

.message {
  grid-area: message;
  width: 388px;
  padding: 10px 15px;
  font-size: 11pt;
  border: 2px solid #2c874a;
  border-radius: 2px;
  background-color: rgba(225, 225, 225, 0);
  text-transform: uppercase;
  font-weight: bold;
}

.submit {
  grid-area: submit;
  width: 150px;
  height: 45px;
  background-color: #2c874a;
  font-size: 11pt;
  color: white;
  border-style: none;
  text-transform: uppercase;
  font-weight: bold;
  justify-self: end;
  margin-left: 200px;
  transition: all ease-in 0.2s;
}

.submit:hover {
  font-size: 16px;
  cursor: pointer;
}

footer {
  width: 65%;
  min-width: 1200px;
  margin: 0 auto;
  background-color: #b8e1c6;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 3px;
}
