#home-section{
	height: 100vh;
	background: url(../images/background-image.jpg) no-repeat 50% 50%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 2fr 1fr;
	grid-template-areas: 
		"header"
		"floating-text"
		"ad-box"
	;
}

header{
	grid-area: header;
	background-color: #2c874a;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px;
	height: 100px;
	grid-template-areas:
		"logo   nav"
	;
	position: fixed;
	width: 100%;
}

.logo{
	display: grid;
	grid-template-columns: 160px 1fr;
	grid-template-areas: 
		"logo-image   logo-text"
		;
	letter-spacing: 3px;
	color: #ffffff;
	padding-left: 40px;
}

.logo img{
	width: 160px;
	padding-top: 10px;
}

.logo h2{
	grid-area: logo-text;
	padding: 35px 0 0 20px;
}

nav{
	grid-area: nav;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-areas:
		"navlist"
		;
	/* max-width: 800px; */
	width: 500px; 
	justify-self: end;
	padding: 52px 40px 0 0;
}

nav img{
	display: none;
}

.nav-list{
	grid-area: navlist;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-list li{
	list-style-type: none;
}

.nav-list li a{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 4.5px;
}

.nav-list li a:hover{
	text-decoration: none;
	background-color: #3d3d3d;
}

.floating-text{
	grid-area: floating-text;
	align-self: center;
	justify-self: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 10px;
	word-spacing: 5px;;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
}

.ad-box{
	grid-area: ad-box;
	display: grid;
	background-color: #ffffff;
	height: 220px;
	align-self: end;
	justify-self: center;
	width: 480px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 40px 1fr;
	grid-template-areas: 
		"view-more     enquire"
		"ad-box-info   ad-box-info"
		;
}

.ad-box button.view-more{
	grid-area: view-more;
	background-color: #2c874a;	
}

.ad-box button.enquire{
	grid-area: enquire;
	background-color: #3d3d3d;
}

.ad-box-info{
	grid-area: ad-box-info;
	padding: 10px;
}








.page{
	display: grid;
	grid-gap: 200px;
	width: 65%;
	min-width: 900px;
	margin: 0 auto;
}












/*About Us***************************************************************************/

 #about-section{
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 100px 100px 500px 100px;
	grid-template-areas:
		"about-header	        about-header"
		"about-us		        about-us"
		"statement-articles		about-nyiko"
		"statement-images		about-nyiko"
	;
	margin-top: 100px;
}

#about-section h1{
	grid-area: about-header;
	height: 50px;
	align-self: end;
}

.about-us{
	grid-area: about-us;
	justify-self: center;
	background-color: #b8e1c6;
	padding: 30px 40px;
	text-align: center;
}

.statement-articles{
	grid-area: statement-articles;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.statement-articles p{
	padding: 0 10px;
}

.statement-articles ol li{
	font-size: 15px;
	padding: 0 10px;
}

.about-nyiko{
	grid-area: about-nyiko;
	display: grid;
	justify-items: center;
	text-align: center;
	background-color: #b8e1c6;
}

.about-nyiko img{
	width: 350px;
	height: 250px;
}

.about-nyiko p{
	padding: 0 25px;
}

.about-nyiko .nyiko-social-media img{
	width: 22px;
	height: 22px;
	padding: 0 5px;
}

.statement-images{
	grid-area: statement-images;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #b8e1c6;
	padding: 0 100px;
	align-items: center;
	justify-items: center;
}

.statement-images img{
	width: 50px;
}




















/*Find a home****************************************************************/
 #find-a-home{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px 600px;
	grid-template-areas:
		"find-a-home-header   find-a-home-header"
		"find-a-home-text     find-a-home-text"
		"house1               house2"
		;
}

#find-a-home h1{
	grid-area: find-a-home-header;
}

#find-a-home>p{
	grid-area: find-a-home-text;
	text-align: center;
}

.house img{
	width: 600px;
}

.house.one{
	grid-area: house1;
}

.house.two{
	grid-area: house2;
	justify-self: end;
}

.house .house-info{
	background-color: #b8e1c6;
	padding: 20px;
	width: 560px;
}

#find-a-home .view-more{
	background-color: #2c874a;
	width: 300px;
}

#find-a-home .enquire{
	background-color: #3d3d3d;
	width: 296px;
}























#contact-section{
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 100px 100px 540px;
	grid-template-areas: 
		"contact-header       contact-header"
		"social-media-links   social-media-links"
		"contact-form         more-contact-info"
		;
}

#contact-section h1{
	grid-area: contact-header;
	align-self: center;
}

.social-media-links{
	grid-area: social-media-links;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	background-color: #b8e1c6;
}

button.whatsapp{
	border: 2px solid #30b944;
	background: url(../images/whatsapp.png) no-repeat 40px 50%;
	color: #30b944;
	padding-left: 30px;
}

button.linkedin{
	border: 2px solid #0077b7;
	background: url(../images/linkedin.png) no-repeat 40px 50%;
	color: #0077b7;
	padding-left: 30px;
}

button.facebook{
	border: 2px solid #3c5a99;
	background: url(../images/facebook.png) no-repeat 30px 50%;
	color: #3c5a99;
	padding-left: 20px;
}

button.twitter{
	border: 2px solid #50abf1;
	background: url(../images/twitter.png) no-repeat 50px 50%;
	color: #50abf1;
	padding-left: 30px;
}

.social-media-links button{
	background-color: white;
	width: 200px;
	text-transform: none;
	font-size: 15px;
}

.contact-form{
	grid-area: contact-form;
}

.more-contact-info{
	grid-area: more-contact-info;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr 2fr 2fr 4fr;
	align-items: center;
	background-color: #b8e1c6;
	text-transform: uppercase;
	padding: 30px;
	line-height: 12px;
}

.more-contact-info>p{
	margin-bottom: 10px;
	line-height: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.more-contact-info p:not(.more-contact-info>p){
	font-size: 14px;
}

.more-contact-info h4{
	font-size: 14px;
}


form{
	display: grid;
	grid-template-columns: 422px;
	grid-template-rows: 40px 40px 40px 120px 40px;
	grid-template-areas:
		"contact-sub-header"
		"name"
		"email"
		"message"
		"submit"
	;
	grid-gap: 35px;
	width: 400px;
	margin: 0 auto;
	justify-items: center;
	align-self: center;
}

.contact-sub-header{
	grid-area: contact-sub-header;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.name{
	grid-area: name;
	width: 400px;
	height: 45px;
	padding-left: 15px;
	font-size: 11pt;
	border: 2px solid #2c874a;
	border-radius: 2px;
	background-color: rgba(225,225,225,.0);
	text-transform: uppercase;
	font-weight: bold;
}

.email{
	grid-area: email;
	width: 400px;
	height: 45px;
	padding-left: 15px;
	font-size: 11pt;
	border: 2px solid #2c874a;
	border-radius: 2px;
	background-color: rgba(225,225,225,.0);
	text-transform: uppercase;
	font-weight: bold;
}

.message{
	grid-area: message;
	width: 388px;
	padding: 10px 15px;
	font-size: 11pt;
	border: 2px solid #2c874a;
	border-radius: 2px;
	background-color: rgba(225,225,225,.0);
	text-transform: uppercase;
	font-weight: bold;
}

.submit{
	grid-area: submit;
	width: 150px;
	height: 45px;
	background-color: #2c874a;
	font-size: 12pt;
	color: white;
	border-style: none;
	text-transform: uppercase;
	font-weight: bold;
	justify-self: end;
	margin-left: 200px;
}

footer{
	background-color: #b8e1c6;
	text-align: center;
	padding: 20px 0;
	letter-spacing: 3px;
}










































