html{
	overflow-x: hidden;
	width:100%;
}

#home-section{
	background: url(../images/background-image.jpg) no-repeat 10% 50%;
}

header{
	grid-template-columns: 1fr 1fr;
}

.logo{
	padding-left: 0px;
	grid-area: logo;
}





nav{
	grid-area: nav;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas:
		"hamburger"
		"nav-list"
	;
	height: 60px;
	width: 100%;
	overflow: hidden;
}

.hamburger-menu{
	grid-area: hamburger;
	z-index: 5;
	justify-self: end;
	width: 24px;
}

nav img{
	display: block;
	width: 24px;
	
}

.nav-list{
	grid-area: nav-list;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	align-items: center;
	background-color: #1a1a1a;
	z-index: 10;
	height: 50vh;
	/* width: 50vw; */
}

ul.nav-list{
	padding: 0;
	margin: 0;
}

ul.nav-list li a{
	padding: 45px 0
}


/* 






/*important*****************************************************************/
/*the thing that makes the nav work well on mobile*/
/*important******************************************************************/
/*important*************************************************************/
/* .find-a-home-nav{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px;
	z-index: 3;

} */























/*About Us**************************************************************************/

#about-section{
	grid-template-columns: 1fr;
	grid-template-rows:100px 100px 150px 400px;
	grid-template-areas:
		"about-header"
		"about-us"
		"statement-images"
		"about-nyiko"
	;
	width: 100%;
	min-width: 600px;
	margin: 0;
}

.statement-articles{
	display: none;
}





















#find-a-home{
	width: 95%;
	margin: 0 auto;
	grid-gap: 0;
	grid-template-rows: 50px auto;
}




.home{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr;
	grid-template-areas:
		"home-images"
		"home-info"
	;
	padding: 100px 0;
}


.home-info .location{
	grid-area: home-info;
	padding-left: 0px;
	padding-top: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr auto 1fr;
	grid-template-areas:
		"info-header"
		"status"
		"description"
		"price"
		"view-house"
	;
	align-self: center;
}













form{
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 40px 40px 150px 40px;
	grid-template-areas:
		"contact-header"
		"contact-sub-header"
		"name"
		"email"
		"message"
		"submit"
	;
	grid-gap: 30px;
}

.name{
	width: 100%;
}

.email{
	width: 100%;
}

.message{
	width: 100%;
}

