/* #home-section{
	background: url(../images/background-large2.jpg) no-repeat 50% 40px;
}


nav{
	grid-area: nav;
	background-color: #1a1a1a;
	display: grid;
	align-items: center;
	padding: 0px 50px 0px 50px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"logo   nav-list"
	;
}


#about-section{
	width: 95%;
} */

/* body {
	background-color: #;
  } */

  #about-section{
	  width: 90%;
	  min-width: 600px;
  }

  #find-a-home{
	  width: 90%;
	  min-width: 850px;
	  grid-template-rows: 50px 50px 500px;
  }

  #find-a-home .view-more{
	  background-color: #2c874a;
	  min-width: 100px;
	  display: none;
  }
  
  #find-a-home .enquire{
	  background-color: #3d3d3d;
	  min-width: 100px;
	  display: none;
  }
  
  .house div button{
	  width: 10%;
  }

  #contact-section{
	  width: 90%;
	  min-width: 850px;
  }

  footer{
	  width: 90%;
	  min-width: 850px;
  }