*{
	/* box-sizing: border-box; */
}

body{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	color: #000000;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
	background-color: #f1f1f1;
}

h1{
	font-size: 25pt;
	letter-spacing: 7px;
	word-spacing: 5px;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 0 20px;
}

h2{
	font-size: 22pt;
	font-weight: normal;
	font-family: 'Playfair Display', serif;
}

h3{
	font-size: 14pt;
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
}

h4{
	font-size: 12pt;
	padding: 5px 5px;
	margin: 0;
	letter-spacing: 2px;
}

h5{
	color: #2c874a;
	font-size: 16px;
	padding: 0 10px;
	margin: 30px 0 0 0;
}

h6{
	font-size: 12pt;
	margin: 0;
	padding: 5px;
}

h6.price{
	font-size: 14pt;
}

p{
	padding: 5px 5px;
	margin: 0;
	font-size: 15px;
}

span{
	color: green;
}

span.from{
	color: grey;
	font-size: 8pt;
}

a{
	color: #2c874a;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.active{
	background-color: #3d3d3d;
}

button{
	width: 240px;
	border: none;
	margin: 0;
	padding: 0;
	height: 45px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}

button:hover{
	cursor: pointer;
	color: #3d3d3d;
}